html {
    font-size: 40px;
    background-color: azure
}

#container {
    font-size: 50px;
}

#container > div {
    background-color: firebrick;
    margin-bottom: 15px;
    color: chartreuse
}

#pixele {
    width: 500px;
}

#em {
    width: 5em;
}

#rem {
    width: 5rem;
}

#procenty {
    width: 50%;
}

#vw {
    width: 60vw;
}
#vh {
    width: 60vh;
}

#vmin {
    width: 60vmin;
}

#vmax {
    width: 60vmax;
}
